$font-black: "MontserratBlack";
$font-bold: "MontserratBold";
$font-semibold: "MontserratSemiBold";
$font-medium: "MontserratMedium";
$font-regular: "Montserrat";

html {
  font-size: 16px;
}
body {
  background-color: $bg-color !important;
}
.dark-hero-bg {
  background-color: $dark-hero-bg-color;
  position: absolute;
  height: 700px;
  right: 0;
  overflow: hidden;
  .dark-hero-text {
    opacity: 0.2;
    font-family: $font-black;
    font-size: 13.75rem;
    line-height: 11.25rem;
    color: $maintext-color;
    text-align: left;
    margin-top: 200px;
    margin-left: 65px;
  }
}
header {
  margin: 0 auto;
  margin-bottom: 25px;
  nav {
    background-color: #fff;
    .navbar-brand {
      margin: 23px 40px;
      height: 36px;
      img.logo {
        height: 36px;
      }
    }
    #navbarNav {
      justify-content: flex-end;
      ul.navbar-nav {
        li.nav-item .nav-link {
          color: $nav-color;
          font-family: $font-bold;
          font-size: 1.13rem;
          line-height: 1.38rem;
          padding: 30px 20px;
          &:hover {
            color: $link-color;
          }
        }
      }
    }
    button.navbar-toggler {
      margin-right: 20px;
      padding: 0;
      &:focus {
        box-shadow: 0 0 0 0.1rem;
      }
    }
  }
}

.content {
  .hero {
    margin-bottom: 25px;
    img.pattern {
      width: 100%;
      position: absolute;
      z-index: -1;
      object-fit: cover;
      height: 700px;
      top: 0;
    }
    .card {
      margin: 0 auto;
      border: none;
      background-color: unset;
      .hero-text {
        display: flex;
        align-items: center;
        .card-body {
          h5.card-title {
            max-width: 461px;
            font-size: 3.13rem;
            line-height: 3.88rem;
            color: $maintext-color;
            font-family: $font-bold;
            margin-bottom: 30px;
            .goldplating {
              color: $link-color;
            }
          }
          .card-text {
            max-width: 440px;
            font-size: 1rem;
            line-height: 1.75rem;
            color: $subtext-color;
            font-family: $font-regular;
            margin-bottom: 40px;
            strong {
              font-family: $font-bold;
            }
          }
        }
      }
      .card-btn {
        border-radius: 0;
        border: 0;
        background-color: #000;
        width: 220px;
        font-family: $font-semibold;
        font-size: 1rem;
        line-height: 1.75rem;
        &:hover {
          background-color: $main-color;
        }
        &:focus {
          box-shadow: none;
        }
      }
      .hero-watch-holder {
        overflow: hidden;
        .hero-watch-img {
          position: relative;
          background-image: url("../assets/images/hero_watch.png");
          z-index: 1;
          height: 567px;
          width: 459px;
        }
        .hero-watch-white-bg {
          width: 197px;
          height: 504px;
          background-color: rgba(#fff, 0.1);
          position: absolute;
          z-index: 0;
          top: 35px;
        }
      }
    }
  }
  .features {
    background-color: $main-color;
    color: white;
    min-height: 177px;
    position: relative;
    .row.wrap {
      height: 100%;
      margin: 0 auto;
      .feature {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 45px 0 37px;
        .feature_icon {
          flex: 1;
        }
        label {
          margin-top: 20px;
          font-family: $font-semibold;
          font-size: 1.13rem;
          line-height: 1.38rem;
        }
        &:last-child {
          border-right: none;
        }
      }
    }
  }
  .blogs {
    padding: 50px 0 49px 0;
    border-bottom: 1px solid rgba($nav-color, 0.15);
    background-color: #fff;
    .card-group {
      margin: 0 auto;
      .card {
        border: 1px solid rgba($main-color, 0.1);
        margin-right: 28px;
        border-radius: 0;
        .card-content {
          display: flex;
          height: 100%;
          flex-direction: column;
          .card-body {
            padding: 20px 20px 0 20px;
            .card-title {
              color: $subtext-color;
              font-family: $font-bold;
              font-size: 1.13rem;
              line-height: 1.75rem;
            }
          }
          .card-footer {
            background-color: #fff;
            border: none;
            padding: 30px 20px;
            a.nav-link {
              color: $link-color;
              font-family: $font-medium;
              font-size: 1rem;
              line-height: 1.19rem;
              display: flex;
              align-items: center;
              padding: 0;
            }
            img.arrow_icon {
              margin-left: 10px;
            }
          }
        }
        transition: box-shadow 0.5s;
        &:hover {
          box-shadow: 2px 2px 3px #2929296e;
        }
      }
      :last-child {
        margin-right: 0;
      }
    }
  }
}

footer {
  padding-top: 40px;
  background-color: #fff;
  .wrap {
    margin: 0 auto;
    margin-bottom: 40px;
    padding: 0 20px;
    h4 {
      color: $maintext-color;
      font-family: $font-bold;
      font-size: 0.88rem;
      line-height: 1.13rem;
      margin-bottom: 11px;
    }
    .link-collections {
      .link-collection {
        margin-bottom: 20px;
        ul.nav {
          li.nav-item {
            a.nav-link {
              color: $muted-text-color;
              font-family: $font-regular;
              font-size: 0.88rem;
              line-height: 1.88rem;
              padding: 0;
              &:hover {
                color: $link-color;
              }
            }
          }
        }
      }
    }
    .subscribtion {
      .subscribe-form {
        h4 {
          margin-bottom: 20px;
        }
        form {
          input {
            width: 100%;
            transition: box-shadow 0.5s;
            &:focus {
              box-shadow: 2px 2px 3px #2929296e;
            }
            &:focus-visible {
              border-radius: 0;
              outline: 0px solid $main-color;
            }
            &[type="text"],
            &[type="email"] {
              border: 1px solid $input-border-color;
              font-family: $font-regular;
              font-size: 0.88rem;
              line-height: 1.13rem;
              padding: 12px 16px;
              margin-bottom: 20px;
            }
            &::placeholder {
              color: $input-placeholder-color;
              font-family: $font-regular;
              font-size: 0.88rem;
              line-height: 1.13rem;
            }
          }

          .btn {
            border-radius: 0;
            border: 0;
            background-color: #000;
            font-family: $font-semibold;
            font-size: 1rem;
            line-height: 1.75rem;
            &:hover {
              background-color: $main-color;
            }
          }
          .error-message {
            display: none;
            margin: 15px 0;
            font-family: $font-semibold;
            color: $error-color;
          }
        }
      }
    }
  }
  .lifter {
    border-top: 1px solid rgba($nav-color, 0.15);
    height: 53px;
    cursor: pointer;
    .nav-link {
      height: 100%;
      display: flex;
      justify-content: center;
      img.chevron_icon {
        transform: rotate(-90deg);
      }
    }
    transition: background-color 0.5s;
    &:hover {
      background-color: rgba($main-color, 0.1);
    }
  }
}
